body{
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-flag{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.color-flag{
    width: 20rem;
    height: 15rem;
}

.shield{
    position: absolute;
    justify-self: center;
    align-self: center;
    scale: .1;
}

.blue{
    background-color: #012350;
}

.red{
    background-color: #D6142F;
}